# Arquivos de ambiente e secrets
.env
.env.local
.env.production

# Node modules
node_modules/
npm-debug.log*

# Logs
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/
